.link {
  cursor: pointer;
  color: var(--purple-color);
  &:hover {
    text-decoration: underline;
    border-bottom: none;
  }
  &.isWhite {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }
  &.isFalse {
    border-bottom: 1px solid var(--danger-color);
    color: var(--danger-color);
  }
  &.isTrue {
    border-bottom: 1px solid var(--success-color);
    color: var(--success-color);
  }
  /* active link */
  &.isActive,
  &.router-link-active,
  &.router-link-exact-active {
    text-decoration: underline;
  }
}
